<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %> </title>
      <%- include('partials/style.ejs') %>
</head>
<body>
      <%- include('partials/nav.ejs') %>
      <%- include('partials/banner.ejs') %>
      <%- include('partials/service.ejs') %>
      <%- include('partials/memory.ejs') %>
      <%- include('partials/gallery.ejs') %>
      
      <%- include('partials/footer.ejs') %>



      
      <%- include('partials/js.ejs') %>
</body>
</html>